%div.row
  %section.span11.star-stream
    - @favorites.each do |fav|
      %article.star-item{ :"data-source" => "#{fav.source}"}
        %div.star-image
          %img{ :height => 48, :width => 48, :src => "#{fav.image_url}" }
        %div.star-content
          %div.star-row
            %div.star-author
              = link_author(fav)
          %div.star-row
            %div.star-text
              = fav.source == 'twitter' ? fav.content : fav.title
          %div.star-row
            %span.star-timestamp
              = pretty_time(fav.ocreated_at)
            %span.star-actions
              %span.star-action.archive
                %a{ :href => "#"}
                  %span
                    %img{ :height => 16, :width => 16, :src => "/images/folder-open.png" }
                    %b Archive
              %span.star-action.unstar
                %a{ :href => "#"}
                  %span
                    %img{ :height => 16, :width => 16, :src => "/images/star.png" }
                    %b Unstar
  %section.span5.about
    %h3 Star
    %p Sinatra app to view you favorites from the main hubs of the web: Twitter, GReader, Gmail.
    %p More to come!!!
